#square {
   width: 100px;
   height: 100px;
   background: #BFC6DF ;
   position: absolute;
   left: 0;
   top: 300;
 }

 .stuff{
   background: #BFC6DF;
 }

 #third{
   background: #BFC6DF;
 }

 body{
     background-color: grey;
 }

 #silhouette{
   width: 40%;
 }
